<nav
  class="w-full fixed top-0 shadow-lg text-white bg-black bg-opacity-10 backdrop-filter backdrop-blur-lg font-TiltWarp"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start"
    >
      <a routerLink="/" class="flex items-center">
        <img
          src="assets/images/logo-devfest/logo-devfest-2024.png"
          alt="DevFest 2024 Logo"
          class="h-12 md:h-16 lg:h-20 xl:h-24"
        />
      </a>
      <button
        class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="toggleNavbar()"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div
      [ngClass]="{ hidden: !showMenu, flex: showMenu }"
      class="lg:flex lg:flex-grow items-center menuAnimation"
    >
      <ul class="flex flex-col lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/team"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
            Team
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/partners"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
            Partners
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/magasin"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
            Shop
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/speakers"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
            Speakers
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/planing"
            routerLinkActive="text-green-400"
            class="block lg:inline-block py-2 px-4 hover:text-gray-400 font-TiltWarp"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleNavbar()"
          >
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
