<footer class="bg-background-dark text-white py-8 relative">
  <img
    src="../../../assets/images/sponsors/netero.webp"
    alt=""
    class="absolute left-0 bottom-0 w-[10%] opacity-60"
  />
  <img
    src="../../../assets/images/home-images/kurapica.webp"
    alt=""
    class="absolute right-0 bottom-0 w-[10%] opacity-60"
  />
  <div class="container mx-auto px-4 z-50">
    <!-- Suivez-nous and Email Section -->
    <div class="flex flex-col lg:flex-row lg:justify-between mb-12 lg:mb-16">
      <!-- Suivez-nous section -->
      <div
        class="flex flex-col items-center lg:items-start lg:w-1/2 mb-8 lg:mb-0"
      >
        <div
          translate="footer.followus"
          class="text-custom-gray text-xl font-normal font-TiltWarp tracking-wide mb-3 lg:ml-8"
        ></div>
        <div class="flex space-x-4">
          <a
            href="#"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center"
          >
            <i class="fa fa-tiktok text-white text-2xl"></i>
          </a>
          <a
            href="https://x.com/GDGDouala"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center"
          >
            <i class="fa fa-twitter text-white text-2xl"></i>
          </a>
          <a
            href="https://www.linkedin.com/company/gdg-douala"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center"
          >
            <i class="fa fa-linkedin text-white text-2xl"></i>
          </a>
          <a
            href="#"
            target="_blank"
            class="w-12 h-12 flex items-center justify-center"
          >
            <i class="fa fa-facebook text-white text-2xl"></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col items-center lg:items-end lg:w-1/2">
        <div
          class="text-custom-gray text-xl font-normal font-TiltWarp tracking-wide mb-4 flex items-center"
        >
          <i class="fa fa-envelope mr-2"></i>
          gdgdouala&#64;gmail.com
        </div>
      </div>
    </div>

    <!-- Sections About, Editions, and Partners -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-white mb-8"
    >
      <div class="flex flex-col items-center md:items-start mb-8 md:mb-0">
        <div
          translate="footer.about"
          class="text-green-300 text-2xl font-normal font-TiltWarp tracking-wide mb-4 text-center md:text-left"
        ></div>
        <ul class="space-y-2 text-center md:text-left">
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a href="https://gdg-douala.com" target="_blank">GDG Douala</a>
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a href="https://gdg.community.dev/gdg-douala/" target="_blank"
              >Google Developer Groups</a
            >
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a
              href="https://developers.google.com/community-guidelines"
              target="_blank"
            >
              code of conduct
            </a>
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a
              href="https://gdg.community.dev/participation-terms/"
              translate="footer.legal_mention"
              target="_blank"
            >
              legal mention
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-center md:items-start mb-8 md:mb-0">
        <div
          translate="footer.previous_editions"
          class="text-green-300 text-2xl font-normal font-TiltWarp tracking-wide mb-4 text-center"
        >
          Editions Précédentes
        </div>
        <ul class="space-y-2 text-center md:text-left">
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a href="https://dla-devfest2023.web.app/" target="_blank"
              >Devfest Douala 2023</a
            >
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a href="https://devefest2022.web.app/" target="_blank"
              >Devfest Douala 2022</a
            >
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a href="https://devfestdla18.web.app/" target="_blank"
              >Devfest Douala 2019</a
            >
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-center md:items-end mb-8 md:mb-0">
        <div
          translate="footer.partners"
          class="text-green-300 text-2xl font-normal font-TiltWarp tracking-wide mb-4 text-center md:text-right"
        ></div>
        <ul class="space-y-2 text-center md:text-right">
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a
              href="https://docs.google.com/presentation/d/1QTZFZpuGHnft8bQyZjtigga7Fn_7NA7Aih35qhZ0Qq4/edit"
              translate="footer.partners_kit"
              target="_blank"
            >
              partenaires
            </a>
          </li>
          <li class="text-lg font-normal font-TiltWarp tracking-wide">
            <a
              href="https://docs.google.com/presentation/d/1QTZFZpuGHnft8bQyZjtigga7Fn_7NA7Aih35qhZ0Qq4/edit"
              translate="footer.media_kit"
              target="_blank"
            >
              media kit
            </a>
          </li>
        </ul>
      </div>
      <div class="flex flex-col items-center md:items-start mb-8 md:mb-0">
        <div
          translate="footer.newsletter"
          class="text-green-300 text-2xl font-normal font-TiltWarp tracking-wide mb-4 text-center md:text-right w-full"
        ></div>
        <ul class="space-y-2 text-center md:text-left gap-9">
          <li
            class="text-lg font-normal font-TiltWarp tracking-wide text-center md:text-right"
          >
            <a
              href="https://gdg.community.dev/gdg-douala/"
              translate="footer.newletter_no_spam"
              target="_blank"
            >
              no spam
            </a>
          </li>
          <li
            class="text-lg font-normal font-TiltWarp tracking-wide mt-2 flex justify-center md:justify-end"
          >
            <a
              translate="footer.discover"
              href="https://docs.google.com/presentation/d/1QTZFZpuGHnft8bQyZjtigga7Fn_7NA7Aih35qhZ0Qq4/edit?usp=sharing"
              target="_blank"
              class="cursor-pointer transition-all mt-8 bg-green-500 text-white px-6 py-2 rounded-lg border-green-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]"
            >
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Logo and Credits -->
    <div class="text-white text-xl font-normal font-TiltWarp text-center mt-8">
      <img
        src="assets/images/logo-devfest/logo-devfest-2024.png"
        alt="GDG Douala"
        class="w-32 h-auto mx-auto"
      />
    </div>
    <div
      class="text-gray-400 text-lg font-normal font-TiltWarp text-center mt-4 group"
    >
      <span>{{ 'footer.content_managed_by' }}&nbsp;</span
      ><a
        href="https://www.uitranslator.com"
        class="border-dashed group-hover:border-solid border-b"
        target="_blank"
        >UI Translator</a
      >
    </div>
    <div
      translate="footer.organized_by"
      class="text-white text-lg font-normal font-TiltWarp text-center mt-4"
    ></div>
  </div>
</footer>
